.propertySection {
  padding: 100px 0 115px 0;
  background: #f4e7de;
}
.propertiesContainer {
  padding-top: 90px;
  padding-bottom: 60px;
}
.hrWhite {
  background: #fff;
  border: 0;
  height: 1px!important;
  opacity: 1;
}
.soldedProperties {
  margin-top: 100px;
}
.soldedPropertiesContainer {
  margin-top: 90px;
  padding-bottom: 80px;
}
.textCenter {
  text-align: center;
}

