.header {
  border-bottom: 1px solid #f7ede6;
  max-height: 140px;
  display: flex;
  justify-content: space-between;
}

.logoSection {
  display: flex;
  justify-content: flex-end;
  padding: 34px 70px 40px 0;
  width: 21%;
}

.menuSection {
  width: 100%;
  border-left: 1px solid #f7ede6;
  border-right: 1px solid #f7ede6;
  padding: 40px 0 40px 65px;
}

.menuSection ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.menuSection ul li {
  padding-right: 70px;
}
.menuSection ul li:last-child {
  padding-right: 0;
}
.menuLink, .active {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3px;
  line-height: 48px;
  text-decoration: none;
}

.menuLink:hover, .active {
  position: relative;
  text-decoration: none;
  color: #9a4c12!important;
}

.active:before, .menuLink:hover:before  {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 6px;
  background-color: #f4e7de;
  bottom: 2px;
}

.socialSection {
  padding: 50px 0 40px 65px;
  width: 18%;
}
.socialSection svg {
  width: 31px;
}
.socialSection ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.socialSection ul li {
  margin-right: 27px;
}
.socialSection ul li:last-child {
  margin-right: 0;
}
