@import "custom-variables";
@import "~bootstrap/scss/bootstrap";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

html,
body {
  padding: 0;
  margin: 0;
 font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

.text-black {
  color: #000;
}
.text-orange {
  color: #9a4c12;
}
.text-white {
  color: #fff;
}
